:root {
    --white: #F6F2F6;
    --grey-light: #E1D5D9;
    --grey: #B7A7AE;
    --dark-grey: #58545B;
    --black: #1C252C;
}

html {
    font-size: 16px;
}

body {
    font-family: "Poppins", sans-serif;;
}

/* Navigation Section */

.nav {
    background-color: var(--black);
    color: var(--grey-light);
    display: flex;
    padding: 0.5em;
    padding-left: 1em;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: auto;
    height: 5em;
}

@media only screen and (max-width: 600px) {
    .nav {
        justify-content: center;
    }

    .nav img {
        justify-content: center;
        align-items: center;
    }

    .nav-list, .nav-list li {
        display: none;
    }
}

.nav-list {
    display: flex;
    padding-right: 1em;
}

.nav-list li {
    padding: 1em;
    list-style-type: none;
}

/* Banner Section  */

.banner {
    position: relative;
    text-align: center;
    display: flex;
}

.banner img {
    width: 100%;
}

.banner h1 {
    position: absolute;
    top: 3em;
    left: 1em;
    color: var(--white);
    letter-spacing: 0.2em;
    flex-wrap: wrap;
    font-size: 2.5em;
}

@media only screen and (max-width: 700px) {
  .banner h1 {
    display: none;
  }
}


/* Meetup Section */

.meetup {
    padding: 1em;
}

.meetup h4 {
    text-transform: uppercase;
    font-size: 2em;
}

.meetup p {
    font-weight: 500;
}


/* Meetup Images */
.container {
    padding: 1em;
}

.cards {
  padding: 1em;
}


/* Quote Section */
.quote {
  background-color: var(--grey);
  padding: 2em;
  color: var(--black);

}

.quote .saying {
  font-size: 1.5em;
}

.quote .author {
  padding: 1em;
  font-style: italic;
}

/* Social Section */

.social {
  padding: 1em;
  text-transform: uppercase;
  font-size: 1.2em;
}

.social p {
  padding: 1em;
}

/* Footer Section */

footer {
  background-color: var(--dark-grey);
  padding: 1em;
}


.footer-list {
  color: var(--white);
  display: flex;
}

