:root {
    --white: #F6F2F6;
    --grey-light: #E1D5D9;
    --grey: #B7A7AE;
    --dark-grey: #58545B;
    --black: #1C252C;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}



.nav {
    background-color: var(--black);
    color: var(--grey-light);
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: auto;
    height: 5em;
}

.nav-list {
    display: flex;
    padding-right: 1em;
}

.nav-list li {
    padding: 1em;
    list-style-type: none;
}