:root {
    --white: #F6F2F6;
    --grey-light: #E1D5D9;
    --grey: #B7A7AE;
    --dark-grey: #58545B;
    --black: #1C252C;
}

html {
    font-size: 16px;
}

body {
    font-family: "Poppins", sans-serif;;
}

/* Navigation Section */

.nav {
    background-color: var(--black);
    color: var(--grey-light);
    display: flex;
    padding: 0.5em;
    padding-left: 1em;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: auto;
    height: 5em;
}

@media only screen and (max-width: 500px) {
    .nav img {
        justify-content: center;
        align-items: center;
    }

    .nav-list, .nav-list li {
        display: none;
    }
}

.nav-list {
    display: flex;
    padding-right: 1em;
}

.nav-list li {
    padding: 1em;
    list-style-type: none;
}

/* Banner Section  */

.banner {
    position: relative;
    text-align: center;
    display: flex;
}

.banner img {
    width: 100%;
}

.banner h1 {
    position: absolute;
    top: 8px;
    left: 16px;
    color: var(--white);
    letter-spacing: 0.2em;
    flex-wrap: wrap;
}






























/* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
   */